@charset "UTF-8";

#side_menu {
	width: 20%;
	float: left;
}

#side_menu li {
	list-style: none;
}

#main {
	width: 80%;
	float: left;
}

#board_1 {
	height: 45%;
	width: 50%;
	float: left;
	background-color: #ebd;
}

#board_2 {
	height: 45%;
	width: 50%;
	float: left;
	background-color: #ade;
}

#board_3 {
	height: 45%;
	width: 50%;
	float: left;
	background-color: #ee5;
}

#board_4 {
	height: 45%;
	width: 50%;
	float: left;
	background-color: #7e5;
}

#search_area {
	height: 10%;
	width: 100%;
	float: left;
	background-color: #ddd;
}