@charset "UTF-8";

#wrap {
	width: 1500px;
	height: 1000px;
	margin: 0 auto;
	align: center;
}

#side_menu {
	float: left;
	width: 300px;
	height: 100%;
	background-color: #eee;
}

#main {
	float: left;
	width: 900px;
}

#project_info {
	float: left;
	width: 300px;
	height: 100%;
	background-color: #eee;
}

ul {
	list-style: none;
}