@charset "UTF-8";

body {
	margin: 0 auto;
	padding: 0;
	font-size: 1em;
}

#logo {
	float: left;
}

#links {
	float: right;
}

#member {
	float: right;
	background-color: #ccc;
}

#member ul {
	margin-bottom: 0;
	list-style: none;
	background-color: #eee;
}

#member ul li {
	display: inline;
}


#main_menu {
	display: block;
	background-color: #999;
}

#main_menu ul {
	margin: 0;
	float: right;
	list-style: none;
	background-color: #eee;
}

#main_menu ul li {
	width: 160px;
	height: 30px;
	text-align: center;
	display: inline-block;
	background: linear-gradient(to right, #ebd, #ade);
}

#main {
	width: 100%;
	height: 500px;
	background-color: #777;
}

#best_project {
	width: 50%;
	height: 100%;
	float: left;
	background-color: #ebd;
}

#best_board {
	width: 50%;
	height: 100%;
	float: left;
	background-color: #ade;
}

footer {
	background-color: #ccc;
}

.clear {
	clear: both;
}